@use 'variables' as *;
@use 'mixins' as *;
@use 'components';
@use 'views';

:root {
    font-family: $font-family-base;
    line-height: $line-height-base;
    font-weight: $font-weight-base;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: $breakpoint-mobile;
    min-height: 100vh;
}

.v-theme--dark {
    #app,
    body {
        background-color: $dark-theme-bg;
        color: $light-text;
    }
}

.v-theme--light {
    #app,
    body {
        background-color: $light-bg;
        color: $dark-text;
    }
}

#app {
    width: 100%;
    min-height: 100vh;
    padding: $spacing-lg;
    text-align: center;
}

a {
    font-weight: $font-weight-medium;
    color: $primary-color;
    text-decoration: inherit;

    &:hover {
        color: $primary-hover;
    }
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    @include button-base;

    .v-theme--dark & {
        background-color: $button-bg-dark;
    }

    .v-theme--light & {
        background-color: $button-bg-light;
    }
}

.card {
    padding: $spacing-lg;
}

.primary-border {
    border: 2px solid rgb(var(--v-theme-primary));
}
